@charset "UTF-8";

/*ここにモバイルのスタイルを書く*/

/*ポートフォリオここから*/
.left,.right{
float: none;
width: 100%;
}
.pl{
  padding-left: 0;
}
.DT{
  width: 100%;
  padding-top: 64%;
  margin-bottom: 30px;
}

.DT div{
  width: 86.6%;
  height: 75.8%;
  top: 5%;
  left: 6.7%;
}

.SP{
  width: 100%;
  padding-top: 180%;
  margin-left: 0;
}

.SP div{
  width: 85.8%;
  height: 73.9%;
  top: 12.7%;
  left: 7%;
}
/*ポートフォリオ終わり*/
.price #header-in{
  width: 100%;
}
.price #navi-in{
  width: 100%;
}

.price #header-in #site-title{
  font-size: 20px;
}

.price #header-in #site-title a{
  font-size:20px;
}

#price-body #body-in{
  width: 100%;
}



#main .entry{
    width: 100%;
    margin: 0 auto 20px;
}

.entry-read a, .related-entry-read a {
border-radius: 0px;
}

.price  #site-title a{
      font-size: 30px;
    }
