@charset "UTF-8";
/*!
Theme Name: Simplicity2 child
Template:   simplicity2
Version:    20151225
*/
html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, 'Helvetica Neue', 'Hiragino Kaku Gothic ProN', '游ゴシック Medium', 'メイリオ', meiryo, sans-serif;
  -webkit-text-size-adjust: 100%;
}

img {
  max-width: none;
}

#site-title {
  font-size: 50px;
}

#site-title a {
  font-size: 49px;
  font-weight: bold;
}

#main .entry {
  clear: none;
  margin-bottom: 40px;
  float: left;
  width: 48%;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  margin: 10px 1% 0;
  line-height: 1.5;
  color: #555;
}

#main .entry h2 {
  line-height: 100%;
  padding: 0 5px;
}

#main .entry:nth-child(odd) {
  clear: both;
}

#main .entry-thumb {
  width: 100%;
  float: none;
  margin-right: 0px;
  margin-top: 0px;
  margin-left: 0;
}

#main .entry-thumb img {
  width: 100%;
  height: auto;
  border-radius: 3px 3px 0 0;
}

#main h2 a {
  font-size: 20px;
}

#main .entry-card-content {
  margin-left: 0px;
}

.entry-snippet {
  font-size: 14px;
  padding: 0 5px;
}

.entry-read > .entry-read-link {
  margin-left: 5px;
  text-decoration: underline;
  color: #555;
  font-size: 12px;
  font-size: 1.2rem;
}

.related-entry-thumb {
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.related-entry-thumb img {
  width: auto;
  height: 100px;
}

#sidebar .widget a {
  color: #6998E0;
}

#sidebar .widget a:hover {
  color: #CC0033;
}

.tagcloud a {
  border: 1px solid #6998E0;
  padding: 5px;
  border-radius: 3px;
  text-decoration: none;
}

#footer {
  background: #F2D86C;
}

#footer .credit a {
  text-decoration: underline;
}

#footer .credit a:hover {
  color: #CC0033;
}

#footer-navi ul {
  padding-left: 0px;
}

#copyright address {
  font-style: normal;
}

#page-top a {
  background: #F2D86C;
}

.article h2 {
  font-size: 20px;
  font-size: 2rem;
  border-left: 10px solid #6998E0;
  padding: 15px;
  background: #F7F7F7;
}

.article img {
  width: 100%;
}

.article table {
  width: 100%;
}

.article table tr td:nth-child(even) {
  text-align: right;
}

.DT {
  width: 70%;
  box-sizing: border-box;
  float: left;
  background: url(images/dt_frame.png) no-repeat;
  background-size: contain;
  position: relative;
  padding-top: 45%;
}

.DT div {
  width: 86.7%;
  height: 75.5%;
  overflow: scroll;
  position: absolute;
  top: 4.9%;
  left: 6.6%;
}

.SP {
  width: 250px;
  height: 452px;
  margin-left: 5%;
  box-sizing: border-box;
  float: left;
  background: url(images/sp_frame.png) no-repeat;
  background-size: contain;
  padding: 58px 18px;
}

.SP div {
  height: 331px;
  overflow: scroll;
}

.clear {
  clear: both;
}

.price #header-in {
  width: 740px;
}

.price #header-in #site-title a {
  font-size: 49px;
}

.price #navi-in {
  width: 740px;
}

#price-body {
  margin-top: 20px;
}

#price-body #body-in {
  width: 740px;
}
